@import '../vendor/normalize.css'

@import '../routes/**/*.styl'
@import '../components/**/*.styl'


* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
  background: black;
}
